 


@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');



 *{
    margin: 0;
    padding: 0;
 }

 body {
    font-family: 'Inter', sans-serif;
    height: 3000px;
 }

 html {
    scroll-behavior: smooth;
}

p {
    color: floralwhite(85, 85, 85);
    font-family: 'Inter', sans-serif;
    justify-content: center;
    text-align: center;
}

a, .button {
    transition: all 300ms ease;
}

nav, 
.nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1rem;
}

a{
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover{
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span{
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0%;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}
.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open{
    max-height: 300px;
}

.hamburger-icon.open span:first-child{
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2){
    opacity: 0;
}

.hamburger-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child{
    transform: none;
}

.hamburger-icon span:first-child{
    opacity: 1;;
}

.hamburger-icon span:first-child{
    transform: none;
}

section{
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile{
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section__pic-container{
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.section__text{
    align-self: center;
    text-align: center;
}

.section__text h1{
    font-size: 1.75rem;
    margin-bottom: 1rem;
    font-family: 'Raleway', sans-serif;
}

.section__text h2{
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.title2{
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

#socials-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.icons{
    cursor: pointer;
    height: 2rem;
}

.btn-container{
    display: flex;
    justify-content: center;
    margin-top: 40px;

}

.btn-container1{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.btn{
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1, 
.btn-color-2{
    border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover{
    cursor: pointer;
}

.btn-color-1,
.btn-color-2{
    background: rgb(53, 53, 53);
    color: white;
}

.btn-color-1:hover{
    background: rgb(0, 0, 0);
}

.btn-color-2:hover{
    background: rgb(0, 0, 0);
}

.btn-container{
    gap: 1rem;
}

#about{
    position: relative;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline black;
    font-weight: bold;
    font-weight: 500;
}

.title1{
    font-size: 1.6rem;
    font-weight: 500;
    margin: 2rem 0 1rem;
    font-weight: bold;
}

.title2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title3{
    display: flex;
    align-items: center;
}

.title4{
    font-size: 1.6rem;
    font-weight: 500;
    margin: 2rem 0 1rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline black;
    font-family: 'Raleway', sans-serif;
}

.about-details-container{
    justify-content: start;
    align-items: start;
    flex-direction: column;
    height: 190px;
}

.about-pic{
    border-radius: 2rem;
}

.about-pics{
    border-radius: 1rem;
}

.about-details-containeres{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
}

.arrow{
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}

.details-container{
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
}

.section-container{
    gap: 4rem;
    height: 80%;
}

.section__pic-container{
    height: 400px;
    width: 400px;
    margin: auto 0;
}

#habilities{
    position: relative;
}

.imagem{
    justify-content: center;
    text-align: center;
}

.habilities-section{
    scroll-margin-top: 15rem;
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 0.5rem;
    justify-content: center;
    text-align: center;
    margin: 100px;
    padding-left: 20px;
    text-align: justify;
}


.description{
    max-width: 40rem;
    margin: 0 auto 6rem;
}


.image-container{
    background-color: white;
    padding: 2rem;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.1);
    margin-right: 50px;
    display: flex;
}

.frases{
    margin-left: 100px;
    text-align: justify;
}

#Portfólio{
    position: relative;
}

.Portfólio{
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section__pic-containe{
    display: flex;
    height: 200px;
    width: 200px;
    margin: auto 0;
}


.Portfólio-details-containeres{
    justify-content: end;
    align-items: center;
    flex-direction: column;
    height: 250px;
    gap: 2;
}

.Portfólio-details-containeres1{
    justify-content: start;
    align-items: start;
    flex-direction: column;
    height: 350px;
    margin-top: 200px;
}

.Portfólio-pics{
    align-items: start;
}

.section__pic-containee{
    display: flex;
    height: 200px;
    width: 200px;
    margin-left: 0;
    margin-top: 100px;
}

.btns{
    font-weight: 500;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.title6{
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 10px;
    margin-left: 100px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}








